{{!--
This footer template is shared across all the pages.
--}}

<footer class="m-footer">
  <div class="m-footer__content">
    <p class="m-footer-copyright">
      <span>{{@site.title}} &copy; {{date format="YYYY"}}</span>
    </p>

{{!--     <nav class="m-footer-social"> --}}
{{!--         <a href="https://www.instagram.com/_the_wine_dream_/" target="_blank" rel="noopener" aria-label="Instagram"> --}}
{{!--           <span class="icon-instagram"></span> --}}
{{!--         </a> --}}
{{!--     </nav> --}}
  </div>
</footer>
